*{
    margin:0px
}
header h3{
    background-color:rgba(143, 37, 37, 0.822);
    color:white;
    padding: 30px;
    margin: 0px;
    text-align: center;
}
#HeaderImg{
    height: 500px;
    width: 100%;
}

#Subtitulo{
    color:rgba(143, 37, 37, 0.822);
    width: 400px;
    margin-bottom: 40px;
}

.Conteudo{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.Imagens{
    
    display: grid;
    grid-template-columns:  repeat(2,1fr);
    grid-gap: 10px;
    height: 640px;
    width: 200px;
    font-size: 0;
}
.Imagens img{
    height: 200px;
    width: 200px;
    padding: 0%;
    margin: 0;
    border: solid rgba(143, 37, 37, 0.822) 2px;
    
}

.Texto{
    width: 400px;
    margin-left: -200px;
    margin-right: 150px;
    word-spacing: 2px;
}

.Legenda{
    background-color: rgba(143, 37, 37, 0.822);
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 16px;
}

footer{
    height: 100px;
    background-color: rgba(143, 37, 37, 0.822);
    margin-top: 200px;
}